.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}
.logo-container > img {
    width: 100px;
    height: 100px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
}
.restro-container {
    display: flex;
    flex-wrap: wrap;
}
.restro-cards {
    width: 200px;
    /* height: 300px; */
    border-radius: 10px;
    background: #f0f0f0;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}
.restro-image {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.restro-cards:hover {
   cursor: pointer;
   border: 1px solid #ababab;
   border-radius: 4px;
}
.filter {
    padding: 10px;
}
.filter-btn {
    
}
.restro-logo {
    width: 100%;
}